@{
  Layout = "_Layout";
}

@using TrollsonaOrganizer.Models;
@model TrollsonaOrganizer.Models.Troll;

<h4>Troll Details</h4>

<h3>@Html.DisplayFor(model => model.Name)</h3>

<p>Blood caste: @Html.DisplayFor(model => model.BloodCaste.ColorName)</p>

@if(@Model.JoinEntities.Count == 0)
{
  <p>This troll's strife portfolio is empty!</p>
}
else
{
  <h4>Strife portfolio</h4>
  <ul>
    @foreach(Allocation join in Model.JoinEntities)
    {
      <li>@join.StrifeSpecibus.KindAbstratus</li>
      @using (Html.BeginForm("DeleteJoin", "Trolls"))
      {
        @Html.Hidden("joinId", @join.AllocationId)
        <input type="submit" value="Remove">
      }
    }
  </ul>
}

<p>@Html.ActionLink("Add a specibi", "AddTagName", new { id = Model.TrollId })</p>
<p>@Html.ActionLink("Edit troll", "Edit", new { id = Model.TrollId })</p>
<p>@Html.ActionLink("Delete troll", "Delete", new { id = Model.TrollId })</p>
<p>@Html.ActionLink("Back to troll list", "Index")</p>