@{
  Layout = "_Layout";
}

@model TrollsonaOrganizer.Models.Troll

<h4>Edit Troll</h4>

<h4>@Html.DisplayFor(model => model.Name)</h4>

@using (Html.BeginForm())
{
    @Html.HiddenFor(model => model.TrollId);

    @Html.LabelFor(model => model.Name);
    @Html.EditorFor(model => model.Name);

    @Html.LabelFor(model => model.BloodCaste, "Blood Caste");
    @Html.DropDownList("BloodCasteId");

    <input type="submit" value="Save">
}

<p>@Html.ActionLink("Back to List", "Index")</p>