@{
  Layout = "_Layout";
}

@model TrollsonaOrganizer.Models.BloodCaste

<h4>Edit Caste</h4>

<h3>@Html.DisplayFor(model => model.ColorName)</h3>

@using (Html.BeginForm())
{
    @Html.HiddenFor(model => model.BloodCasteId);

    Html.LabelFor(model => model.ColorName, "Caste Name");
    @Html.EditorFor(model => model.ColorName);

    @Html.LabelFor(model => model.ColorHex, "Color");
    @Html.EditorFor(model => model.ColorHex, new { @type = "color" });

    @Html.LabelFor(model => model.Division);
    @Html.EditorFor(model => model.Division);

    <input type="submit" value="Save">
}

<p>@Html.ActionLink("Back to caste list", "Index")</p>